[Unit]
Description=Habitat Supervisor

[Service]
ExecStartPre=/bin/bash -c /bin/systemctl
ExecStart=/bin/hab run ${flags}

[Install]
WantedBy=default.target
